[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ecpc"]
	path = ecpc
	url = https://github.com/cran/ecpc
[submodule "squeezy"]
	path = squeezy
	url = https://github.com/cran/squeezy
